WAZUH_MANAGER="{{ wazuh_agent_load_balancer_address }}"
WAZUH_MANAGER_PORT="{{ wazuh_lb_agent_events_frontend_port | default(1514) }}"
WAZUH_PROTOCOL="{{ wazuh_agent_connection_protocol | default('tcp') }}"
WAZUH_REGISTRATION_SERVER="{{ wazuh_agent_load_balancer_address }}"
WAZUH_REGISTRATION_PORT="{{ wazuh_lb_agent_enrollment_frontend_port | default(1515) }}"
